body{
  margin: 0;
  padding: 50px 25px;
  background-color: #898989;
}

h1 {
    color: red;
}
.canvas-wrapper {
    display: block;
    box-sizing: border-box;
    margin: auto;
}
canvas {
    display: block;
    margin: auto;
}
